<div class='container'>
  <form name='signupForm' novalidate ng-submit='signup(signupForm.$valid)' style='padding-top: 30px;'>
    <div class='form-group' ng-class='{ "has-error": signupForm.mobileNo.$dirty && signupForm.mobileNo.$invalid }'>
      <label for='mobileNo' class='control-label'>
        <span class='text-danger'>*</span> {{ i18n.front.signup.n0 }} : 
      </label>
      <input type='text' name='mobileNo' id='mobileNo' class='form-control' ng-model='user.mobileNo' maxlength='11' required fv-mobile-no fv-inexistent-mobile-no />
      <div class='help-block' ng-show='signupForm.mobileNo.$dirty && signupForm.mobileNo.$invalid'>
        <p ng-show='signupForm.mobileNo.$error.required'>{{ i18n.front.signup.n1 }}</p>
        <p ng-show='!signupForm.mobileNo.$error.required && signupForm.mobileNo.$error.fvMobileNo'>{{ i18n.front.signup.n2 }}</p>
        <p ng-show='!signupForm.mobileNo.$error.required && !signupForm.mobileNo.$error.fvMobileNo && signupForm.mobileNo.$error.fvInexistentMobileNo'>{{ i18n.front.signup.n3 }}</p>
      </div>
    </div>
    <div class='form-group' ng-class='{ "has-error": signupForm.signinPwd.$dirty && signupForm.signinPwd.$invalid }'>
      <label for='signinPwd' class='control-label'>
        <span class='text-danger'>*</span> {{ i18n.front.signup.n4 }} : 
      </label>
      <input type='password' name='signinPwd' id='signinPwd' class='form-control' ng-model='user.signinPwd' maxlength='16' required fv-signin-pwd />
      <div class='help-block' ng-show='signupForm.signinPwd.$dirty && signupForm.signinPwd.$invalid'>
        <p ng-show='signupForm.signinPwd.$error.required'>{{ i18n.front.signup.n5 }}</p>
        <p ng-show='!signupForm.signinPwd.$error.required && signupForm.signinPwd.$error.fvSigninPwd'>{{ i18n.front.signup.n6 }}</p>
      </div>
    </div>
    <div class='form-group' ng-class='{ "has-error": signupForm.confirmPwd.$dirty && signupForm.confirmPwd.$invalid }'>
      <label for='confirmPwd' class='control-label'>
        <span class='text-danger'>*</span> {{ i18n.front.signup.n7 }}
      </label>
      <input type='password' name='confirmPwd' ng-model='user.confirmPwd' id='confirmPwd' class='form-control' maxlength='16' required fv-eq='#signinPwd' />
      <div class='help-block' ng-show='signupForm.confirmPwd.$dirty && signupForm.confirmPwd.$invalid'>
        <p ng-show='signupForm.confirmPwd.$error.required'>{{ i18n.front.signup.n8 }}</p>
        <p ng-show='!signupForm.confirmPwd.$error.required && signupForm.confirmPwd.$error.fvEq'>{{ i18n.front.signup.n9 }}</p>
      </div>
    </div>
    <div class='form-group'>
      <button type='submit' class='btn btn-success' ng-disabled='signupForm.$invalid'>{{ i18n.front.signup.n10 }}</button>
      <a href='#/signin' class='btn btn-default' data-toggle='tooltip' title='{{ i18n.front.signup.n11 }}'>{{ i18n.front.signup.n12 }}</a>
    </div>
  </form>
</div>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
$('#mobileNo').focus();
</script>
